<!DOCTYPE html>
<html lang="en">
  <%- include('../common/head.ejs')%>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('../common/sidebar.ejs')%>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../common/navbar.ejs')%>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->

            <% if (sucess && sucess != '') { %>
            <div
              class="alert alert-success"
              role="alert"
              style="
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
                text-align: center;
                background-color: #d4edda;
                color: #155724;
                border: 1px solid #c3e6cb;
                border-radius: 5px;
                padding: 10px;
                z-index: 1000;
              "
            >
              <%= sucess %>
            </div>
            <% } else if (err && err != '') { %>
            <div
              class="alert alert-danger"
              role="alert"
              style="
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
                text-align: center;
                background-color: #f8d7da;
                color: #721c24;
                border: 1px solid #f5c6cb;
                border-radius: 5px;
                padding: 10px;
                z-index: 1000;
              "
            >
              <%= err %>
            </div>
            <% } %>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  <%=products.length%> products
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Product name</th>
                        <th>Product Description</th>
                        <th>Price</th>
                        <th>User Image</th>
                        <th>User name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%
                      products.slice(0,products.length).reverse().forEach((value)=>{ %>
                      <tr>
                        <td>
                          <img
                            src="http://localhost:3004/<%=value.image%>"
                            alt=""
                            style="height: 80px; width: 80px"
                          />
                        </td>
                        <td><%=value.title%></td>
                        <td><%-value.description%></td>
                        <td><%-value.price%></td>
                        <td>
                          <img
                            src="http://localhost:3004/<%=value.userdetails.image%>"
                            alt=""
                            style="height: 80px; width: 80px"
                          />
                        </td>
                        <td><%-value.userdetails.first_name%> <%-value.userdetails.last_name%></td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../common/footer.ejs')%>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('../common/logoutModal.ejs')%>

    <!-- JS file area-->
    <%- include('../common/vanilajs.ejs')%>
  </body>
</html>
